.filterForm {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 1px solid #c6c6c6;
}

.submit,
.reset {
  min-width: 80px;
}

.controls {
  display: flex;
  gap: 32px;
  margin-top: 8px;
  height: 30px;
  align-self: flex-end;
}
